*.vsidx
*.dll
*.pdb
*.v2
*.suo
*.cache
*.v5.2
*.csproj
/BaseProject/Entities/obj/Debug/net6.0/Entities.csproj.CoreCompileInputs.cache
/BaseProject/DataAccess/obj/Debug/net6.0/DataAccess.csproj.CoreCompileInputs.cache

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/