################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaseProject/.vs/BaseProject/v17/.suo
/BaseProject/API/bin/Debug/net6.0/API.dll
/BaseProject/API/bin/Debug/net6.0/Business.pdb
/BaseProject/API/bin/Debug/net6.0/Business.dll
/BaseProject/API/bin/Debug/net6.0/API.pdb
/BaseProject/API/bin/Debug/net6.0/API.dll
/BaseProject/API/obj/Debug/net6.0/ref/API.dll
/BaseProject/API/obj/Debug/net6.0/refint/API.dll
/BaseProject/API/obj/Debug/net6.0/API.pdb
/BaseProject/API/obj/Debug/net6.0/API.dll
/BaseProject/API/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
/BaseProject/API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
/BaseProject/Business/bin/Debug/net6.0/Business.dll
/BaseProject/Business/bin/Debug/net6.0/Business.pdb
/BaseProject/Business/obj/Debug/net6.0/ref/Business.dll
/BaseProject/Business/obj/Debug/net6.0/refint/Business.dll
/BaseProject/Business/obj/Debug/net6.0/Business.dll
/BaseProject/Business/obj/Debug/net6.0/Business.pdb
/BaseProject/.vs/BaseProject/DesignTimeBuild/.dtbcache.v2
