################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaseProject/.vs/BaseProject/v17/.suo
